body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  height: 100vh;
  background-color: white;
  text-align: center;
}

.appbar {
  background-color: white;

  width: 100vw;
  top: 0;
  padding: 0.5vh 0;
  z-index: 1;
  position: sticky;
}

.navbar {
  width: 100vw;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.views {
  width: 100vw;

  padding-bottom: 8vh;
  height: auto;
}

/* LANDING PAGE */

.logo {
  width: 80vw;
  margin-bottom: 2vh;
}

.city-slider {
  width: 100vw;
  bottom: 2vh;
  padding: 0vh 0;
  position: fixed;
}

.slider-card {
  max-width: 43vw;
  margin: 0 1vw 0.5vh 1vw;
}

@media all and (orientation: landscape) {
  .logo {
    width: 80vw;
    max-width: 250px;
    margin-bottom: 0vh;
  }
  .city-slider {
    width: 100vw;
    padding: 0vh 0;
    position: relative;
  }

  .slider-card {
    max-width: 35vw;
    margin: 0 1vw 0.5vh 1vw;
  }
}
.slider-media {
  height: 15vh;
}

.slider-text {
  height: 5vh;
}

/* CITIES PAGE */
.card {
  margin: 2vh auto;
  max-width: 100vw;
}

.card-media {
  height: 18vh;
}
@media all and (orientation: landscape) {
  .card {
    margin: 30px auto;
    max-width: 100vw;
  }

  .card-media {
    height: 120px;
  }
}

/* ITINERARIES PAGE */

.image-profile {
  width: 128;
  height: 128;
}
.img-profile {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.MuiCardHeader-root {
  text-align: left;
}

.MuiCardHeader-title .MuiTypography-body2 {
  font-weight: 600;
}

.activity_slider {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.activity_card {
  max-width: 45vw;
}

.activity_card-media {
  height: 18vh;
}

@media all and (orientation: landscape) {
  .activity_card-media {
    height: 120px;
  }
}

/*  Authentication */

.logo-small {
  width: 50vw;
  margin-bottom: 2vh;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
.google-button {
  display: inline-block;
  max-width: 300px;
  margin-top: 10px;
  border: 0;
  padding: 0 18px;
  text-align: left;
  width: 100%;
  height: 37px;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, 0.84) !important;
  fill: rgba(0, 0, 0, 0.84) !important;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  font: inherit;
  outline: none;
}
.google-button .svgIcon {
  vertical-align: middle;
  fill: rgba(0, 0, 0, 0.54);
  padding-right: 4px;
  height: 37px;
  display: inline-block;
}

/*  Comments  */

.comments {
  max-height: 75vh;
  overflow: scroll;
}
